@model DataStructure.Guest

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Create A Guest</h1>

<hr />
<script type="text/javascript">
    function createGuest() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Guest';
            let btnGuestCreate = $('#btnGuestCreate');
            btnGuestCreate.click(function () {
                let guestName = $('#guestName').val();
                let guest = {
                    name: guestName
                    /* more info to be added here */
                };
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    accepts: 'json',
                    data: JSON.stringify(guest),
                    success: function (data) {
                        alert('Success, send the data to the create action of the guest controller. Created Guest with ID: ' + data);
                        window.location.href = "https://localhost:44357/Guest/Index";
                    },
                    error: function (data) {
                        alert('Error: ' + data.responseText);
                    }
                });
            });

        });
    }
</script>

<script>
    createGuest();
</script>

<div style="margin-bottom: 15px">
    <input type="text" name="guestName" placeholder="Guest Name" id="guestName" />
    
</div>

<div style="margin-bottom: 15px">
    <input type="submit" name="createGuest" value="Create A Guest" id="btnGuestCreate" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
