@model DataStructure.Guest
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<reference path="~/lib/jquery-validation/dist/jquery.validate.js" />

<h1>Create A Guest</h1>

<hr />
<script type="text/javascript">
    function createGuest() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Guest';
            let btnGuestCreate = $('#btnGuestCreate');
            btnGuestCreate.click(function () {
                let guestName = $('#guestName').val();
                let guest = {
                    name: guestName
                };
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    accepts: 'json',
                    headers: {
                        "Authorization": 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]",
                        "X-XSRF-TOKEN": $('#XSRFToken').val()
                    },
                    data: JSON.stringify(guest),
                    success: function (data) {
                        alert('Success, send the data to the create action of the guest controller. Created Guest with ID: ' + data);
                        window.location.href = "https://localhost:44357/Guest/Index";
                    },
                    error: function (data) {
                        alert('One or more validation errors occured! Please check the validation messages!');
                    }
                });
            });

        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script>
    createGuest();
</script>
@*using form method="dialog" because post will not go into the success ajax callback function and will not redirect the user to the needed
    page, also, ajax doesn't work the traditional "post" way of sending the form information and then removing it from the form*@
<form method="dialog" id="myForm">
    <div>
        <input type="hidden" id="XSRFToken"
               name="XSRFToken" value="@httpContextAccessor.HttpContext.Request.Cookies["XSRF-TOKEN"]">
    </div>

    <div style="margin-bottom: 15px">
        <input type="text" name="guestName" placeholder="Guest Name" id="guestName" required />
    </div>

    <div style="margin-bottom: 15px">
        <input type="submit" name="createGuest" value="Create A Guest" id="btnGuestCreate" />
    </div>
</form>
<script>
    $('#myForm').validate();
</script>
<style>
    .error {
        color: red;
        font-family: verdana, Helvetica;
    }
</style>

<div>
    <a asp-action="Index">Back to List</a>
</div>
