@model IEnumerable<DataStructure.Guest>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Guests";
}

<h1>Guests</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function getGuests() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Guest';
            let ulGuests = $('#ulGuests');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/Guest/Create');
            linkForCreate.text('Create Guest');
            ulGuests.append(linkForCreate);
            ulGuests.append('</br>');
            ulGuests.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                headers: {
                    Authorization: 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
                },
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/Guest/Update/' + val.id);
                        linkForUpdate.text('Update Guest');
                        ulGuests.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/Guest/Delete/' + val.id);
                        linkForDelete.text('Delete Guest');
                        ulGuests.append('</br>');
                        ulGuests.append(linkForDelete);
                        ulGuests.append('</br>');
                        ulGuests.append('Guest ID: ' + val.id + '</br>' + 'Guest Name: ' + val.name + '</br>');
                    })
                }
            });

        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script>
    getGuests();
</script>

<ul id="ulGuests"></ul>