@model IEnumerable<DataStructure.Guest>

@{
    ViewData["Title"] = "Guests";
}

<h1>Guests</h1>

<!--TO DO : make the needed API calls to obtain the info-->
@*<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: ''
            });
        });
    </script>*@
