@model DataStructure.Guest
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Guests</h4>

<hr />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    function getGuestIDThroughURL() {
        let currentURL = window.location.toString();
        let guestID = currentURL.substring(currentURL.lastIndexOf('/') + 1);
        let hiddenInputID = $('#guestID');
        hiddenInputID.attr('value', guestID);
    }
    function updateGuest() {
        $(document).ready(function () {
            getGuestIDThroughURL();
            let btnGuestUpdate = $('#btnGuestUpdate');
            btnGuestUpdate.click(function () {
                let guestID = parseInt($('#guestID').val());
                let guestName = $('#guestName').val();
                let guest = {
                    id: guestID,
                    name: guestName
                };
                let url = 'https://localhost:44357/api/Guest/' + guestID;
                $.ajax({
                    type: 'PUT',
                    url: url,
                    accepts: 'json',
                    contentType: 'application/json',
                    headers: {
                        "Authorization": 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]",
                        "X-XSRF-TOKEN": $('#XSRFToken').val()
                    },
                    data: JSON.stringify(guest),
                    success: function (data) {
                        alert('Success! Edited Guest with ID: ' + guestID);
                        window.location.href = "https://localhost:44357/Guest/Index";
                    },
                    error: function (data) {
                        alert('Oops, an error occured, please try again later!');
                    }
                });
            });
        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script type="text/javascript">
    getGuestIDThroughURL();
    updateGuest();
</script>

<div>
    <input type="hidden" id="XSRFToken"
           name="XSRFToken" value="@httpContextAccessor.HttpContext.Request.Cookies["XSRF-TOKEN"]">
</div>

<div>
    <input type="hidden" id="guestID" />
</div>

<div style="margin-bottom: 15px">
    <input type="text" name="Guest Name" placeholder="Guest Name" id="guestName" />
</div>

<div style="margin-bottom: 15px">
    <input type="submit" name="updateGuest" value="Update The Guest" id="btnGuestUpdate" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
