@model IEnumerable<DataStructure.RoomType>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "RoomTypes";
}

<h1>RoomTypes</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function getRoomTypes() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/RoomType';
            let ulRoomTypes = $('#ulRoomTypes');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/RoomType/Create');
            linkForCreate.text('Create RoomType');
            ulRoomTypes.append(linkForCreate);
            ulRoomTypes.append('</br>');
            ulRoomTypes.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                headers: {
                    Authorization: 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
                },
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/RoomType/Update/' + val.id);
                        ulRoomTypes.append('</br>');
                        linkForUpdate.text('Update RoomType');
                        ulRoomTypes.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/RoomType/Delete/' + val.id);
                        linkForDelete.text('Delete RoomType');
                        ulRoomTypes.append('</br>');
                        ulRoomTypes.append(linkForDelete);
                        ulRoomTypes.append('</br>');
                        ulRoomTypes.append('RoomType ID: ' + val.id + '</br>' + 'RoomType Name: ' + val.name);
                    })
                }
            });

        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script>
    getRoomTypes();
</script>

<ul id="ulRoomTypes"></ul>