@model IEnumerable<DataStructure.PositionApplicationRole>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Positions";
}

<h1>Positions</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function getPositions() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Position';
            let ulPositions = $('#ulPositions');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/Position/Create');
            linkForCreate.text('Create Position');
            ulPositions.append(linkForCreate);
            ulPositions.append('</br>');
            ulPositions.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                headers: {
                    Authorization: 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
                },
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/Position/Update/' + val.id);
                        linkForUpdate.text('Update Position');
                        ulPositions.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/Position/Delete/' + val.id);
                        linkForDelete.text('Delete Position');
                        ulPositions.append('</br>');
                        ulPositions.append(linkForDelete);
                        ulPositions.append('</br>');
                        ulPositions.append('Position ID: ' + val.id + '</br>' + 'Position Name: ' + val.name +
                            '</br>');
                    })
                }
            });

        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script>
    getPositions();
</script>

<ul id="ulPositions"></ul>