@model IEnumerable<DataStructure.Room>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function getRooms() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Room';
            let ulRooms = $('#ulRooms');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/Room/Create');
            linkForCreate.text('Create Room');
            ulRooms.append(linkForCreate);
            ulRooms.append('</br>');
            ulRooms.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                headers: {
                    Authorization: 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
                },
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/Room/Update/' + val.id);
                        ulRooms.append('</br>');
                        linkForUpdate.text('Update Room');
                        ulRooms.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/Room/Delete/' + val.id);
                        linkForDelete.text('Delete Room');
                        ulRooms.append('</br>');
                        ulRooms.append(linkForDelete);
                        ulRooms.append('</br>');
                        ulRooms.append('Room ID: ' + val.id + '</br>' + 'Room Number: ' + val.number + '</br>' + 'Room Type: ' +
                            val.roomType.name + '</br>');
                    })
                }
            });

        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script>
    getRooms();
</script>

<ul id="ulRooms"></ul>