@model DataStructure.Room
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Room</h4>

<hr />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    function getRoomIDThroughURL() {
        let currentURL = window.location.toString();
        let roomID = currentURL.substring(currentURL.lastIndexOf('/') + 1);
        let hiddenInputID = $('#roomID');
        hiddenInputID.attr('value', roomID);
    }
    function getRoomTypes() {
        let urlForRoomType = 'https://localhost:44357/api/RoomType';
        $.ajax({
            type: 'GET',
            url: urlForRoomType,
            contentType: 'application/json',
            headers: {
                "Authorization": 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
            },
            success: function (data) {
                let roomTypeDropDownList = $('#roomTypeDropDownList');
                $.each(data, function (index, val) {
                    let optionForRoomTypeDropDownList = $('<option>');
                    optionForRoomTypeDropDownList.attr('value', val.id);
                    optionForRoomTypeDropDownList.append(val.name);
                    optionForRoomTypeDropDownList.append('</option>');
                    roomTypeDropDownList.append(optionForRoomTypeDropDownList);
                });
            }

        });
    }
    function updateRoom() {
        $(document).ready(function () {
            getRoomIDThroughURL();
            let btnRoomUpdate = $('#btnRoomUpdate');
            btnRoomUpdate.click(function () {
                let roomID = parseInt($('#roomID').val());
                let roomNumber = parseInt($('#roomNumber').val());
                let roomTypeDropDownList = $('#roomTypeDropDownList');
                let roomType = {
                    id: Number(roomTypeDropDownList.val())
                };
                let room = {
                    id: roomID,
                    number: roomNumber,
                    roomType: roomType
                };
                let url = 'https://localhost:44357/api/Room/' + roomID;
                $.ajax({
                    type: 'PUT',
                    url: url,
                    accepts: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(room),
                    headers: {
                        "Authorization": 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]",
                        "X-XSRF-TOKEN": $('#XSRFToken').val()
                    },
                    success: function (data) {
                        alert('Success! Edited Room with ID: ' + roomID);
                        window.location.href = "https://localhost:44357/Room/Index";
                    },
                    error: function (data) {
                        alert('Oops, an error occured, please try again later!' + data.responseText);
                    }
                });
            });
        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script type="text/javascript">
    getRoomIDThroughURL();
    getRoomTypes();
    updateRoom();
</script>

@*using form method="dialog" because post will not go into the success ajax callback function and will not redirect the user to the needed
    page, also, ajax doesn't work the traditional "post" way of sending the form information and then removing it from the form*@
<form method="dialog" id="myForm">
    <div>
        <input type="hidden" id="XSRFToken"
               name="XSRFToken" value="@httpContextAccessor.HttpContext.Request.Cookies["XSRF-TOKEN"]">
    </div>

    <div>
        <input type="hidden" id="roomID" />
    </div>

    <div style="margin-bottom: 15px">
        <input type="text" name="Room Number" placeholder="Room Number" id="roomNumber" value=0 />
    </div>

    <div style="margin-bottom: 15px">
        <select id="roomTypeDropDownList" name="roomTypeDropDownList">
            <option value="">Enter The RoomType</option>
        </select>
    </div>

    <div style="margin-bottom: 15px">
        <input type="submit" name="updateRoom" value="Update The Room" id="btnRoomUpdate" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
