@model DataStructure.Reservation

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Create A Reservation</h1>

<hr />
<script type="text/javascript">
    function createReservation() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Reservation';
            let btnReservationCreate = $('#btnReservationCreate');
            btnReservationCreate.click(function () {
                let guestDropDownList = $('#guestDropDownList');
                let employeeDropDownList = $('#employeeDropDownList');
                let roomDropDownList = $('#roomDropDownList');
                let guest = {
                    id: Number(guestDropDownList.val())
                };
                let employee = {
                    id: Number(employeeDropDownList.val())
                };
                let roomReservation = {
                    roomID: Number(roomDropDownList.val())
                };
                let reservation = {
                    guest: guest,
                    employee: employee,
                    roomReservation: roomReservation
                };
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    accepts: 'json',
                    data: JSON.stringify(reservation),
                    success: function (data) {
                        alert('Success, send the data to the create action of the reservation controller. Created Reservation with ID: ' + data);
                        window.location.href = "https://localhost:44357/Reservation/Index";
                    },
                    error: function (data) {
                        alert('Error: ' + data.responseText);
                    }
                });
            });

        });
    }

    function getGuests() {
        let urlForGuest = 'https://localhost:44357/api/Guest';
        $.ajax({
            type: 'GET',
            url: urlForGuest,
            contentType: 'application/json',
            success: function (data) {
                let guestDropDownList = $('#guestDropDownList');
                $.each(data, function (index, val) {
                    let optionForGuestDropDownList = $('<option>');
                    optionForGuestDropDownList.attr('value', val.id);
                    optionForGuestDropDownList.append(val.name);
                    optionForGuestDropDownList.append('</option>');
                    guestDropDownList.append(optionForGuestDropDownList);
                });
            }

        });
    }

    function getEmployees() {
        let urlForEmployee = 'https://localhost:44357/api/Employee';
        $.ajax({
            type: 'GET',
            url: urlForEmployee,
            contentType: 'application/json',
            success: function (data) {
                let employeeDropDownList = $('#employeeDropDownList');
                $.each(data, function (index, val) {
                    let optionForEmployeeDropDownList = $('<option>');
                    optionForEmployeeDropDownList.attr('value', val.id);
                    optionForEmployeeDropDownList.append(val.userName);
                    optionForEmployeeDropDownList.append('</option>');
                    employeeDropDownList.append(optionForEmployeeDropDownList);
                });
            }

        });
    }

    function getRooms() {
        let urlForRooms = 'https://localhost:44357/api/Room';
        $.ajax({
            type: 'GET',
            url: urlForRooms,
            contentType: 'application/json',
            success: function (data) {
                let roomDropDownList = $('#roomDropDownList');
                $.each(data, function (index, val) {
                    let optionForRoomDropDownList = $('<option>');
                    optionForRoomDropDownList.attr('value', val.id);
                    optionForRoomDropDownList.append(val.number);
                    optionForRoomDropDownList.append('</option>');
                    roomDropDownList.append(optionForRoomDropDownList);
                });
            }

        });
    }
</script>

<script>
    getGuests();
    getEmployees();
    getRooms();
    createReservation();
</script>

<div style="margin-bottom: 15px">
    <input type="text" name="reservationDate" placeholder="Reservation Date" id="reservationDate" />
</div>

<div style="margin-bottom: 15px">
    <select id="guestDropDownList" name="guestDropDownList">
        <option>Enter The Guest</option>
    </select>
</div>

<div style="margin-bottom: 15px">
    <select id="employeeDropDownList" name="employeeDropDownList">
        <option>Enter The Employee</option>
    </select>
</div>

<div style="margin-bottom: 15px">
    <select id="roomDropDownList" name="roomDropDownList">
        <option>Enter The Room</option>
    </select>
</div>

<div style="margin-bottom: 15px">
    <input type="submit" name="createReservation" value="Create A Reservation" id="btnReservationCreate" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
