@model DataStructure.Reservation
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Reservation?</h3>


<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    function getReservationIDThroughURL() {
        let currentURL = window.location.toString();
        let reservationID = currentURL.substring(currentURL.lastIndexOf('/') + 1);
        let hiddenInputID = $('#reservationID');
        hiddenInputID.attr('value', reservationID);
    }
    function deleteReservation() {
        $(document).ready(function () {
            getReservationIDThroughURL();
            let btnReservationDelete = $('#btnReservationDelete');
            btnReservationDelete.click(function () {
                let reservationID = parseInt($('#reservationID').val());
                let url = 'https://localhost:44357/api/Reservation/' + reservationID;
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    accepts: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(reservationID),
                    headers: {
                        "Authorization": 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]",
                        "X-XSRF-TOKEN": $('#XSRFToken').val()
                    },
                    success: function (data) {
                        alert('Success! Deleted Reservation with ID: ' + reservationID);
                        window.location.href = "https://localhost:44357/Reservation/Index";
                    },
                    error: function (data) {
                        alert('Oops, an error occured, please try again later!');
                    }
                });
            });
        });
    }
</script>

<hr />

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}

<script type="text/javascript">
    deleteReservation();
</script>

<div>
    <input type="hidden" id="XSRFToken"
           name="XSRFToken" value="@httpContextAccessor.HttpContext.Request.Cookies["XSRF-TOKEN"]">
</div>

<div>
    <input type="hidden" id="reservationID" />
</div>

<div style="margin-bottom: 15px">
    <input type="submit" name="deleteReservation" value="Delete The Reservation" id="btnReservationDelete" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
