@model IEnumerable<DataStructure.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    function getReservations() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Reservation';
            let ulReservations = $('#ulReservations');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/Reservation/Create');
            linkForCreate.text('Create Reservation');
            ulReservations.append(linkForCreate);
            ulReservations.append('</br>');
            ulReservations.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/Reservation/Update/' + val.id);
                        linkForUpdate.text('Update Reservation');
                        ulReservations.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/Reservation/Delete/' + val.id);
                        linkForDelete.text('Delete Reservation');
                        ulReservations.append('</br>');
                        ulReservations.append(linkForDelete);
                        ulReservations.append('</br>');
                        ulReservations.append('Reservation ID: ' + val.id + '</br>' + 'Reservation Start Date: ' + val.startDate +
                            '</br>' + 'Reservation End Date: ' + val.endDate + '</br>' + 'The Guest was serviced by Employee: '
                            + val.employee.userName + '</br>' + 'The Reservation is for Guest: ' + val.guest.name + '</br>');
                        let roomReservations = val.roomReservations;
                        for (var i = 0; i < roomReservations.length; i++) {
                            console.log(roomReservations[i].room.number);
                            ulReservations.append('The Reservation Room Number is: ');
                            ulReservations.append(roomReservations[i].room.number);
                            ulReservations.append('; ');
                            ulReservations.append('</br>');
                        }
                    });
                }
            });

        });
    }
</script>

<script>
    getReservations();
</script>

<ul id="ulReservations"></ul>