@model DataStructure.EmployeeApplicationUser
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<reference path="~/lib/jquery-validation/dist/jquery.validate.js" />
<h1>Create An Employee</h1>

<hr />

<script>
    function getEmployeePosition() {
        let urlForEmployeePosition = 'https://localhost:44357/api/Position';
        $.ajax({
            type: 'GET',
            url: urlForEmployeePosition,
            contentType: 'application/json',
            success: function (data) {
                let positionDropDownList = $('#positionDropDownList');
                $.each(data, function (index, val) {
                    let optionForPositionDropDownList = $('<option>');
                    optionForPositionDropDownList.attr('value', val.id);
                    optionForPositionDropDownList.append(val.name);
                    optionForPositionDropDownList.append('</option>');
                    positionDropDownList.append(optionForPositionDropDownList);
                });
            }

        });
    }
    function createEmployee() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Employee';
            let btnEmployeeCreate = $('#btnEmployeeCreate');
            btnEmployeeCreate.click(function () {
                let employeeName = $('#empName').val();
                let employeePosition = {
                    id: $('#positionDropDownList').val()
                };
                let employee = {
                    userName: employeeName,
                    position: employeePosition
                };
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    accepts: 'json',
                    headers: {
                    Authorization: 'Bearer ' + "@httpContextAccessor.HttpContext.Request.Cookies["JWTCookie"]"
                    },
                    data: JSON.stringify(employee),
                    success: function (data) {
                        alert('Success, send the data to the create action of the employee controller. Created Employee with ID: ' + data);
                        window.location.href = "https://localhost:44357/Employee/Index";
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            });

        });
    }
</script>

<script type="text/javascript">
    getEmployeePosition();
    createEmployee();
</script>
<style>
    .error {
        color: red;
    }
</style>
<form id="myForm">
    <div style="margin-bottom: 15px">
        <input type="text" name="empName" placeholder="Employee Name" id="empName" required />
    </div>

    <div style="margin-bottom: 15px">
        <select id="positionDropDownList" name="positionDropDownList" required>
            <option>Enter The Employee Position</option>
        </select>
    </div>

    <div style="margin-bottom: 15px">
        <input type="button" name="createEmployee" value="Create An Employee" id="btnEmployeeCreate" />
    </div>
</form>
<script>
    $("#myForm").validate();
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
