@model DataStructure.EmployeeApplicationUser

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Create An Employee</h1>

<hr />

<script>
    function createEmployee() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Employee';
            let btnEmployeeCreate = $('#btnEmployeeCreate');
            btnEmployeeCreate.click(function () {
                let employeeName = $('#empName').val();
                let employee = {
                    userName: employeeName
                /* more info to be added here */
                };
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    accepts: 'json',
                    data: JSON.stringify(employee),
                    success: function (data) {
                        alert('Success, send the data to the create action of the employee controller. Created Employee with ID: ' + data);
                        window.location.href = "https://localhost:44357/Employee/Index";
                    },
                    error: function (data) {
                        alert('Error: ' + data.responseText);
                    }
                });
            });

        });
    }
</script>

<script type="text/javascript">
    createEmployee();
</script>

<div style="margin-bottom: 15px">
    <input type="text" name="empName" placeholder="Employee Name" id="empName" />
    @*TO DO: CHANGE THE INPUT TYPE TEXTS WITH HTML HELPERS IN ORDER TO AVOID XSS ATTACK! <br />
        @Html.TextBox("", null, new { name= "Employee Name", placeholder = "Employee Name", id = "empName"})*@
</div>

<div style="margin-bottom: 15px">
    <input type="submit" name="createEmployee" value="Create An Employee" id="btnEmployeeCreate" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
