@using DataStructure
@using Hotel_API_Project.ViewModels
@using Microsoft.AspNetCore.Http
@model IEnumerable<EmployeeApplicationUser>
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
<h1></h1>
<h1></h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<!--TO DO: make the needed API calls to obtain the info-->
<script type="text/javascript">
    function getEmployees() {
        $(document).ready(function () {
            let url = 'https://localhost:44357/api/Employee';
            let ulEmployees = $('#ulEmployees');
            let linkForCreate = $('<a>');
            linkForCreate.attr('href', 'https://localhost:44357/Employee/Create');
            linkForCreate.text('Create Employee');
            ulEmployees.append(linkForCreate);
            ulEmployees.append('</br>');
            ulEmployees.append('</br>');
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json',
                accepts: 'json',
                headers: {
                    Authorization: 'Bearer ' + "@Context.Request.Cookies["JWTCookie"]"
                },
                success: function (data) {
                    $.each(data, function (index, val) {
                        let linkForUpdate = $('<a>');
                        linkForUpdate.attr('href', 'https://localhost:44357/Employee/Update/' + val.id);
                        linkForUpdate.text('Update Employee');
                        ulEmployees.append(linkForUpdate);
                        let linkForDelete = $('<a>');
                        linkForDelete.attr('href', 'https://localhost:44357/Employee/Delete/' + val.id);
                        linkForDelete.text('Delete Employee');
                        ulEmployees.append('</br>');
                        ulEmployees.append(linkForDelete);
                        ulEmployees.append('</br>');
                        ulEmployees.append('Employee ID: ' + val.id + '</br>' + 'Employee Name: ' + val.userName +
                            '</br>' + 'Employee Position:' + ' ' + val.position.name + '</br>' + '</br>');
                    })
                }
            });
        });
    }
</script>

@{
    await Html.RenderPartialAsync("_JWTAuthenticationCheck");
}
<script>
    getEmployees();
</script>

<ul id="ulEmployees"></ul>